:root{
    --color-fondo: #f0f0f0;
    --color-principal: #f4f4f4;
    --color-secundario: #ffffff;
    --color-header: rgb(81, 38, 235);
    --color-nav: #333333;
    --color-footer: rgb(219, 212, 240);
    --color-barra-nav: #3b82f6;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-fondo);
}
.main-content {
    background: var(--color-principal);
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}
header {
    background-color: var(--color-header); 
    color: var(--color-secundario);
    padding: 20px;
    text-align: center;
}

nav {
    background-color: var(--color-nav);
    border-bottom: 3px solid var(--color-barra-nav);
    position: sticky;
    top: 0;
    z-index: 100;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
    padding: 1rem;
}
nav a {
    color: var(--color-secundario);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}
nav a:hover {
    opacity: 1;
    transform: translateY(-2px);
}  

footer {
    text-align: center;
    background-color:  var(--color-footer); 
    padding: 1.5rem;
    margin-top: auto;
    font-size: 0.9rem;
}
p {
    font-weight: 500;
}